
    @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto+Condensed&display=swap');

    *{
        margin:0;
        padding:0;
        border:0;
    }
    body {
        font-family: 'roboto condensed', sans-serif;
        background-image: url('/assets/images/beach.jpg');
        background-position: center;
        background-repeat: no-repeat;
        
        
        
    }

    #logo {
        
        float: left;
        margin-left: 150px;
        margin-top: 100px
        
    }
    #logo a{
        font-size: 200%;
        color: #000000;
        text-decoration: none;
        font-family: 'Dancing Script', sans-serif;
    }
    #logo a:hover {
        color: white;
        
    }
    header {
        height: 300px;
    
        padding: 5px;
    
        
    }
    nav{
        float:right;
    }
    nav li {
        display: inline-block;
        list-style: none;
        margin-right: 50px;
        margin-top: 100px
        
    }
    nav li a{
        text-decoration: none;
        font-size: 300%;
        color : #000000;
        letter-spacing: 3px;
    }
    nav li a:hover {
        color : white;

    }
    footer {
        height:100px;
        bottom: 0;
        width:100%;
        
    }       

    footer p {
        text-align: center;
        float: right;
    }
    #contact-footer{
        bottom:0;
        position: absolute;
    }
    #socials{
        text-align: center;
    }
    #socials li{
        display: inline;
    
        
        
    }
    #socials li a {
        text-decoration: none;
        }
    #socials i {
        font-size: 400%;
        color: #000000;
        margin: 1%;
        padding: 5%;
    
    }
    #about {
        display: block;
        padding-top: 100px;
        text-align:left;
        height:800px;
        background-color: #09090f4f;
        
        
    }
    #portrait {
    
        height: 600px;
        width: 33%;
        float: left;
        background: url(/assets/images/pexels-abel-matthew-16389104.jpg) no-repeat center center;
        background-size: contain;
        background-repeat:no-repeat;
        margin-left:3%;
        
        
        
        
    }
    #bio{
        
        width: 47%;
        float: right;
        color:antiquewhite;
        margin-right: 10%;
        margin-top:5%;
        background-color: #09090f4f;
        padding:10px;
    }
    #weddings {
        clear: both;
        line-height: 0;
        column-count: 3;
        column-gap: 0px;
    
        

    }
    #weddings img {
        width:100%;
        
    }

        

    .contact-form h2 {
        font-size:xx-large;
        margin-bottom: 20px;
    }

    .contact-form {
    margin:5% 10% 10% 5%;
    color: #fff;
    background-color:#09090f4f;
    max-width:400px;
    position:absolute;
    left:10%;
    padding: 30px;
    }
    .text-input{
        background:#09090f4f;
        width:100%;
        height:25px;
        color: #fff;
    }
    #submit{
        margin-top: 5%;
        background-color:hsl(240, 5%, 71%); 
        color: rgb(5, 4, 4);
        font-size: 100%;
        padding: 10px 20px 10px 20px;
        
    }
    #submit:hover {
        background-color:#fff;
        color:#000000;
    }
    @media screen and (max-width: 1200px){
        #logo{ margin-left: 10px;
            margin-top: 50px}
            


    }
    @media screen and (max-width: 750px){
        #logo{ margin-left: 10px;}
        nav {margin-left:10px;
        float:left;}
        nav li {margin-top:10px;
            font-size:60%;}
        #logo a {font-size: 100%;}
        header{height:200px;}
        #portrait{width:100%;
        height:300px;}
        #about {
        
            padding-top:0;}
    
        #bio{     
        float: left;
        padding:5px;
        margin:10px;
        width:90%;
        font-size: 75%;
        text-align: center;
            
        
    }    
            
    }