body {
    background-image: url('/assets/images/beach.jpg');
    background-position: center;
    background-repeat: no-repeat;
    
      
}

#logo {
    
    float: left;
    margin-left: 100px;
        margin-top: 30px
    
}
#logo a{
    font-size: 200%;
    color: #000000;
    text-decoration: none;
}
header {
    height: 150px;
    border: 5px solid #000000;
   
    
}

nav li {
    float:right;
    list-style: none;
    margin-right: 100px;
    margin-top: 30px
    
}
nav li a{
    text-decoration: none;
    font-size: 300%;
    color : #000000;
    letter-spacing: 3px;
}
nav li a:hover {
    color : white;

}

footer {
    position: static;
    height:150px;
    
}
#socials{
    text-align: center;
}
#socials li{
    display: inline;
    list-style: none;
    margin-top: 30px;
    
    
}
#socials li a {
    text-decoration: none;
    }
#socials i {
    font-size: 400%;
    color: #000000;
    margin: 1%;
    padding: 5%;
}
#about {
    display: block;
    padding-top: 100px;
    text-align:left;
    height:800px;
    background-color: #09090f4f;
    
}
#portrait {
   
    height: 600px;
    width: 33%;
    float: left;
    background: url(/assets/images/pexels-abel-matthew-16389104.jpg) no-repeat center center;
    background-size: contain;
    background-repeat:no-repeat;
    margin: 5px;
    
    
    
}
#bio{
    
    width: 47%;
    float: right;
    background-color: grey;
    color:antiquewhite;
    margin-right: 10%;
    margin-top:5%;
    background-color: #09090f4f;
}
